.d-block{
  height: 770px;
}

.cardcss{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-right: 10px;
  padding: 90px;
  
}
.navbar {
  position: sticky;
}
.ss{
  box-shadow:5px 10px 8px 5px#888888;
  transition:all 0.3s ease;
}
.ss:hover{
  transform: scale(1.1);
}
.d-flex {
  position: sticky;
  color: tomato;
}